@import url(http://fonts.googleapis.com/css?family=Homenaje);

body {
    margin: 0;
    font-family: sans-serif;
    background-image: -webkit-repeating-linear-gradient(90deg, #92a7b3 0%, #92a7b3 50%, #96acb8 50%, #96acb8 100%);
    -webkit-background-size: 10px;
}

#wrap {
    background: #fff;
    width: 650px;
    margin: 0 auto;
    padding: 0 5px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
}

header.top {
    position: relative;
    top: 0;
    background-color: #cdcda9;
}

header.top hgroup {
    display: block;
    overflow: hidden;
}

header.top hgroup div.img-wrap {
    overflow: hidden;
    height: 0;
    -webkit-transition: all 0.5s ease-in-out;
}

header.top hgroup div.img-wrap img {
    position: relative;
    top: -145px;
    -webkit-transition: all 0.5s ease-in-out;
}

nav.top {
    position: absolute;
    top: 0;
}

nav.top ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.top ul li {
    float: left;
    padding: 0.25em 1em;
}

header.top nav.main {
    font-family: 'Homenaje', sans-serif;
    clear: both;
    position: relative;
    top: 0;
    -webkit-transition: all 0.5s ease-in-out;
}

nav.main ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.main ul li {
    float: left;
    margin: 5px 5px 0 0;
    font-size: 0.75em;
}

nav.main ul li:last-child {
    margin-right: 0;
}

nav.main ul li a {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
/*    height: 3em;*/
    display: block;
    padding: 0.4em 1em;
    width: inherit;
    text-decoration: none;
    color: #fff;
    -webkit-transition: all 0.25s ease-in-out;
}

nav.main strong {
    display: block;
    text-transform: uppercase;
    font-size: 1.5em;
    -webkit-transition: all 0.25s ease-in-out;
}

nav.main span {
    display: block;
    width: 189px;
    color: #fff;
    opacity: 0;
    top: 0;
    height: 1.25em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: all 0.5s ease-in-out, color 0.25s ease-in-out;
}

body.not-homepage nav.main {
    top: -34px;
    left: 15px;
}

body.not-homepage nav.main span {
    text-indent: -189px;
    width: 0;
    height: 0;
    opacity: 1;
}

body.homepage nav.main li span {
    opacity: 1;
}

body.homepage header.top div.img-wrap {
    height: 145px;
}

body.homepage header.top div.img-wrap img {
    top: 0;
}

/* Main nav custom stylings */
body.trips nav.main li.trips a,
body.training nav.main li.training a,
body.publications nav.main li.publications a {
    color: #666;
    background-color: #fff !important;
}

nav.main li.trips a { background-color: #9ab1bd; }
nav.main li.training a { background-color: #b76b1b; }
nav.main li.publications a { background-color: #993; }

nav.main a:hover {
    background-color: #033c59 !important;
}

/* content */
#content {
    clear: both;
}
