body {
    margin: 0;
    font-family: sans-serif;
    background-image: -webkit-repeating-linear-gradient(90deg, #92a7b3 0%, #92a7b3 50%, #96acb8 50%, #96acb8 100%);
    -webkit-background-size: 10px;
}

#wrap {
    background: #fff;
    width: 800px;
    margin: 0 auto;
    padding: 0 5px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
}

header.top {
    position: relative;
    top: 0;
}

header.top hgroup {
    display: block;
    overflow: hidden;
}

header.top hgroup div.img-wrap {
    height: 0;
    -webkit-transition: all 0.5s ease-in-out;
}

nav.top {
    position: absolute;
    top: 0;
}

nav.top ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.top ul li {
    float: left;
    padding: 0.25em 1em;
}

header.top nav.main {
    clear: both;
/*    position: absolute;
    top: 150px;
*/}

nav.main ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.main ul li {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    float: left;
    margin: 5px 5px 0 0;
    font-size: 0.75em;
    height: 3em;
    -webkit-transition-property: background-color, height;
    -webkit-transition-duration: 0.25s, 0.5s;
    -webkit-transition-delay: 0, 0.05s;
    -webkit-transition-timing-function: ease, ease;
}

nav.main ul li:last-child {
    margin-right: 0;
}

nav.main ul li a {
    display: block;
    padding: 0.4em 1em;
    width: inherit;
    text-decoration: none;
    color: #000;
}

nav.main strong {
    display: block;
    text-transform: uppercase;
    font-size: 2em;
    -webkit-transition: all 0.25s ease-in-out;
}

nav.main aside {
    position: absolute;
    width: 184px;
    display: block;
    overflow: hidden;
}

nav.main span {
    position: relative;
    top: -30px;
    display: block;
    color: #000;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out, color 0.25s ease-in-out;
    -webkit-transition-delay: 0s, 0s;
}

nav.main hr {
    visibility: hidden;
    margin: 0;
    width: 0;
    height: 0;
    color: transparent;
    background-color: transparent;
    -webkit-transition: all 1s ease-in-out;
}

body.homepage nav.main hr {
    width: 184px;
}

body.homepage nav.main strong {
}

body.homepage nav.main li {
    height: 5.75em;
}

body.homepage nav.main li span {
    opacity: 1;
    top: 0;
    -webkit-transition-delay: 0.5s, 0s;
}

body.homepage header.top div.img-wrap {
    height: 145px;
}

/* Main nav custom stylings */
nav.main li:hover a,
nav.main li:hover span {
    color: #fff;
}

body.trips nav.main li.trips,
body.training nav.main li.training,
body.publications nav.main li.publications {
    color: #666;
    background-color: #fff;
}

nav.main li.trips { background-color: #9ab1bd; }
nav.main li.training { background-color: #b76b1b; }
nav.main li.publications { background-color: #993; }

nav.main li:hover {
    background-color: #033c59 !important;
    color: #fff !important;
}

/* content */
#content {
    clear: both;
}